#include <windows.h>
#include "string_table_keys.h"

#ifndef DEBUG
#define VER_DEBUG	0
#define TITLE	"RSS REPL\0"
#else
#define VER_DEBUG	VS_FF_DEBUG
#define TITLE	"RSS REPL (DEBUG)\0"
#endif

#define VERSION	"SNAPSHOT\0"
#define VERSION_MANIFEST	0,2020,3,7
#define COPYRIGHT_SIGN	"\xA9"

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO
		FILEVERSION	VERSION_MANIFEST
		PRODUCTVERSION	VERSION_MANIFEST
		FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
		FILETYPE	VFT_APP
		FILEFLAGS	(VS_FF_PRERELEASE | VER_DEBUG)
		FILEOS	VOS__WINDOWS32
		FILESUBTYPE	VFT2_UNKNOWN
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "CompanyName",	"Raymond Dodge\0"
			VALUE "FileDescription",	TITLE
			VALUE "FileVersion",	VERSION
			VALUE "InternalName",	"Feeds\0"
			VALUE "LegalCopyright",	COPYRIGHT_SIGN " Raymond Dodge 2013-2020\0"
			VALUE "OriginalFilename",	"Feeds.exe\0"
			VALUE "ProductName",	TITLE
			VALUE "ProductVersion",	VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 0x4B0
	}
}

STRINGTABLE
		LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US
{
	IDS_KEY_VALUE_SEPARATOR,	": "
	IDS_ERROR,	"ERROR"

	IDS_ERR_TOP_LEVEL,	"Already top level; no parent to cd to"
	IDS_ERR_ITEM_CONTENTS,	"Feed Item contains no children"
	IDS_ERR_NO_SUCH_CHILD,	"No such element"
	IDS_ERR_NO_ITEM_WITH_NUMBER,	"No such element"
	IDS_ERR_FEED_CONTENTS_UNKNOWN,	"Feed Item contains no children"
	IDS_ERR_FOLDER_DETAILS_UNKNOWN,	"No details about a folder"

	IDS_TITLE,	TITLE
	IDS_PROMPT,	"%MSFEED%"

	IDS_DETAILS_ITEM_AUTHOR,	"Author"
	IDS_DETAILS_ITEM_LINK,	"Url"
	IDS_DETAILS_ITEM_COMMENTS,	"Comments"
	IDS_DETAILS_ITEM_ISREAD,	"Read"
	IDS_DETAILS_ITEM_ENCLOSURE,	"Enclosure"
	IDS_DETAILS_ITEM_PUBDATE,	"Published"
	IDS_DETAILS_ITEM_MODIFIED,	"Modified"
	IDS_DETAILS_ENCLOSURE_TYPE,	"Type"
	IDS_DETAILS_ENCLOSURE_URL,	"Url"
	IDS_DETAILS_ENCLOSURE_DOWNLOADSTATUS,	"Download Status"
	IDS_DETAILS_ENCLOSURE_LOCALPATH,	"Local Path"
	IDS_DETAILS_ENCLOSURE_LASTDOWNLOADERROR,	"Download Error"
	IDS_DETAILS_ENCLOSURE_DOWNLOADMIMETYPE,	"Download Type"
	IDS_DETAILS_ENCLOSURE_DOWNLOADURL,	"Download Url"

	IDS_DETAILS_FEED_ITEMCOUNT	"Item Count"
	IDS_DETAILS_FEED_UNREADITEMCOUNT	"Unread Item Count"
	IDS_DETAILS_FEED_MAXITEMCOUNT	"Max Item Count"
	IDS_DETAILS_FEED_DOWNLOADSTATUS	"Download Status"
	IDS_DETAILS_FEED_LASTDOWNLOADERROR	"Download Error"
	IDS_DETAILS_FEED_PUBDATE	"Published"
	IDS_DETAILS_FEED_LASTBUILDDATE	"Built"
	IDS_DETAILS_FEED_LASTDOWNLOADTIME	"Downloaded"
	IDS_DETAILS_FEED_IMAGE	"Image"
	IDS_DETAILS_FEED_LINK	"Link"
	IDS_DETAILS_FEED_DOWNLOADURL	"Download Url"
}
