
#include <windows.h>
#define VERSION "a.0.0-SNAPSHOT\0"
#define VERSION_MANIFEST 0,10,0,0

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO
		FILEVERSION    VERSION_MANIFEST
		PRODUCTVERSION VERSION_MANIFEST
		FILEFLAGSMASK  0x3F
		FILETYPE       VFT_APP
		FILEFLAGS      VS_FF_PRERELEASE
		FILEOS         VOS__WINDOWS32
		FILESUBTYPE    VFT2_UNKNOWN
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "CompanyName",      "Raymond Dodge\0"
			VALUE "FileDescription",  "RSS REPL\0"
			VALUE "FileVersion",      VERSION
			VALUE "InternalName",     "Whee!\0"
			VALUE "LegalCopyright",   "Raymond Dodge\0"
			VALUE "LegalTrademarks1", "Whee!\0"
			VALUE "LegalTrademarks2", "Whee!\0"
			VALUE "OriginalFilename", "feeds.exe\0"
			VALUE "ProductName",      "RSS REPL\0"
			VALUE "ProductVersion",   VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x409, 0x4B0
	}
}
